html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #999966;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}
