html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #999966;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.dropdowns {
    display: flex;
}

.dropdown {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.dash-dropdown {
    min-width: 10em;
}

.graphs {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1em;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-label {
    font-size: 3em;
}

.full-width {
  grid-column: 1 / -1; /* Span the item across all columns */
}
